body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #1e1f1e;
  height: 75px;
}
.nav-bar h1{
  margin-left: 10px;
  color: #00cccc;
}

.nav-bar input{
  border: 2px solid #00cccc;
  max-width: 300px;
  width: 100vw;
  font-size: larger;
  background-color: #1e1f1e;
  color: #00cccc;
  padding: 5px;
}

.token-main-container{
  display: flex;
  width: 100vw;
}

.trading-chart{
width: 100%;
height: 100%;
min-height: 300px;
}

.token-info-container{
  background-color: aqua;
  padding: 5px;
  margin-right: 5px;
  width: 20vw;
  
}

.token-chart-swap-container{
  width: 80vw;
}

.upcoming-token-chart{
  width: 20vw;
}

.swap-table-row{
  color: white;
}

.swap-table-row a{
  color: white;
}

.swap-table-row:nth-child(1n){
  background-color: rgba(47, 52, 70, 0.9)
  }

.swap-table-row:nth-child(2n){
background-color: rgba(47, 52, 70, 0.8)
}
.token-swap-feed-container{
  height: 70vh;
  overflow-y: scroll;
}

.bigtransaction{
background-color: rgba(138, 24, 24, 0.8);
}



