body {
  margin: 0;
  font-family: 'Rubik', 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #1B262C;
  height: 75px;
}
.nav-bar h3{
  margin-left: 10px;
  color: #fdfdfd;
}

.nav-bar input{
  border: 2px solid #fdfdfd;
  max-width: 300px;
  width: 100vw;
  font-size: larger;
  background-color: #1e1f1e;
  color: #fdfdfd;
  padding: 5px;
}

.token-main-container{
  display: flex;
  width: 100%;
  background-color: #163F56;
  color: white;
}

.trading-chart{
width: fit-content;
height: 100%;
min-height: 300px;
}

.token-info-container{
  background-color: rgba(22, 61, 82, 1);
  padding: 5px;
  margin-right: 5px;
  width: 20vw;
  
}

.token-chart-swap-container{
  width: 77vw;
}

.upcoming-token-chart{
  width: 20vw;
}






.swap-table-row:nth-child(1n){
  background-color: rgba(47, 52, 70, 0.9)
  }

.swap-table-row:nth-child(2n){
background-color: rgba(47, 52, 70, 0.8)
}

.swap-table-link{
  color: white;
}


.token-swap-feed-container{
  height: 70vh;
}




/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(50, 130, 184, 0.75);
  border-radius: 10px;
}
.tx-id{
  color: white;

}

.BUY{
  color: #7EF654;
}
.SELL{
  color: #F65454 ;
}